# Dependencies
node_modules/
frontend/node_modules/
frontend/.envxw
.pnpm-store/

# Environment & Secrets configuration
.env
.env.local
.env.*.local
firebase.json


# User uploads & generated report files
uploads/
public/reports/

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & Editor settings
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
